<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDHANY - Home</title>
    <link rel="stylesheet" href="static/global.css">
  </head>
  <body>
    <h1>WDHANY</h1>
    <p>The goal of this site is to teach people the why and how things fit together in the code. Once you finish this we recommend <a href="https://www.freecodecamp.com">FreeCodeCamp.com</a>, or just trying stuff and using <a href="https://www.w3schools.com/tags/default.asp">W3Schools</a> as a reference.</p>
    <h2>Disclaimer</h2>
    <p>To make this site as fast and minimal as possible, whatever lesson you are on is stored as a cookie. This saves storage and internet traffic compared to an account system. Not related to efficiency, when you next visit this page you will be auto redirected to your current lesson.</p>
    <h2>A Bit About The Design</h2>
    <p>I personally like the Dracula colorscheme and use it with most of my apps, so I used it here too. If you don't like it, remember my minimalism, more colorschemes means more to store on the server.</p>
  </body>
</html>
