<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDHANY - Home</title>
    <link rel="stylesheet" href="static/global.css">
  </head>
  <body>
    <h1>WDHANY</h1>
    <p>For anyone who wants to learn Web Dev, this is not a complete tutorial. This is only something to get you started. I, and a few others, have noticed how some sites don't explain much, they just drop you in. The goal of this site is to teach people the very basics and why some things are the way they are. Once you finish this we recommend <a href="https://www.freecodecamp.com">FreeCodeCamp.com</a>, or just trying stuff and using <a href="https://www.w3schools.com/tags/default.asp">W3Schools</a> as a reference.</p>
  </body>
</html>
