<!DOCTYPE html>
<html>
    <head>
        <title>WDHANY - Lesson {{ id }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/global.css">
    </head>
    <body>
        <h1>{{ id }} - {{ name }}</h1>
        <p>{{ content }}</p>

        <div id="editor"></div>
        <form actions="" method="post">
            <button onclick="checkSubmission()" id="submit" name="solved" value="">Submit</button>
        </form>

        <script>
         function checkSubmission() {
             if (editor.getValue() == "{{ answer }}") {
               window.location.href ="/lesson/{{ id + 1 }}"
             } else {
                 document.getElementById("submit").setAttribute("value", "false");
             }
         }
        </script>

        <script src="/static/ace/ace.js"></script>
        <script src="/static/ace/ext-language_tools.js"></script>
        <script>
         ace.require("ace/ext/language_tools");
         var editor = ace.edit("editor");
         editor.setTheme("ace/theme/dracula");
         editor.session.setMode("ace/mode/html");
             editor.setOptions({
                 enableBasicAutocompletion: true,
                 enableSnippets: false,
                 enableLiveAutocompletion: true
             });
        </script>
    </body>
</html>
