<!DOCTYPE html>
<html>
  <head>
    <meta charset="utp-8">
    <title>WDHANY - 500</title>
    <link rel="stylesheet" href="static/global.css">
  </head>
  <body>
    <h1>500</h1>
    <h3>Internal server Error on page: "{{ request }}".</h3>
  </body>
</html>
