<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDHANY - Home</title>
    <link rel="stylesheet" href="static/global.css">
  </head>
  <body>
    <script>if ( document.cookie != "" ) { window.location.replace("/read"); }</script>

    <h1>Disclaimer</h1>
    <p><strong>We use a cookie to track your lesson.</strong> This allows us to redirect you to your current lesson automagically without using as many resources as an account system, although I do plan on switching to accounts in the far-ahead.</p>

    <h2>The Platform</h2>
    <p>I created the platform to have the verbosity of W3Schools in the lessons, but in the format of FreeCodeCamp. The UI is built to be minimal using readable fonts, no more "Is this an l, or an I?", and a color scheme that's easy on the eyes. It has an online editor so nothing needs to be installed on the user's computer. It also has a live preview to allow for better learning, visualization is very helpful in design to know what code does what. No account creation is needed as everything is stored in a single cookie, though this may change in the future to allow more options for anyone using the platform.</p>

    <h2>Backend</h2>
    <p>The server is written in C++ using the Crow Framework to send web pages and the SqliteModernCPP Library to communicate with the database. The online editor is the Ace Library written in Javascript. The UI uses the Dracula Color Scheme. There is a live preview that uses Javascript Blobs to get code from the editor and display it in an IFrame. It is built with the CMake Build System and the Clang Compiler, both are fully cross-platform to Windows, Mac, and Linux.</p>

    <button onclick="window.location.replace('/write/0');">Get Started</button>

    <script>
      function getStarted() {
        window.location.replace("/write/0");
      }
    </script>
  </body>
</html>
