@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Space+Mono&display=swap');

:root {
    --bg:        #282a36;
    --fg:        #f8f8f2;
    --purple:    #bd93f9;
    --red:       #ff5555;
    --blue:      #8be9fd;
    --comment:   #6272a4;
    --selection: #44475a;
}
body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Fira Mono", monospace;
    margin: 1% 10%;
}
p {
  max-width: 100%;
  margin: 1rem auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono";
    text-align: center;
}
#code {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:  space-between;
}
#editor {
    width: 40vw;
    height: 70vh;
    border: 0rem;
    order: 1;
}
#preview {
  width: 40vw;
  height: 70vh;
  background-color: #ffffff;
  border: none;
  order: 2;
}
button {
    background-color: var(--comment);
    color: var(--fg);
    border: hidden;
    margin: 1rem auto;
    display: block;
}
a:link { color: var(--blue) }
a:hover { color: var(--red) }
a:visited { color: var(--purple) }
