@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Space+Mono&display=swap');

:root {
    --bg:        #282a36;
    --fg:        #f8f8f2;
    --purple:    #bd93f9;
    --red:       #ff5555;
    --blue:      #8be9fd;
    --comment:   #6272a4;
    --selection: #44475a;
}
body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Fira Mono", monospace;
    margin: 1vh 10vw;
}
p {
  max-width: 100vh;
  margin: 1rem auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono";
    text-align: center;
}
#editor {
    width:  35vw;
    height: 75vh;
    border: 0rem;
    margin: 0rem;
    float: left;
}
#preview {
  width: 40vw;
  height: 75vh;
  float: right;
  background-color: #ffffff;
  border: none;
  margin: 0rem;
}
#submit {
  position: absolute;
  bottom: 2%;
  left: 47%;
}
button {
    background-color: var(--comment);
    color: var(--fg);
    border: hidden;
    display: block;
}
a:link { color: var(--blue) }
a:hover { color: var(--red) }
a:visited { color: var(--purple) }
